@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-dark {
		@apply bg-gray-900 hover:bg-gray-700 text-white text-lg leading-6 font-semibold py-2 px-6 border border-transparent rounded-xl focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-gray-900 focus:outline-none transition-colors duration-200;
	}
}

.fileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.fileInput + label {
	cursor: pointer;
}
.fileInput:focus + label {
	outline: 2px solid #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.fileInput + label * {
	pointer-events: none;
}
