<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{if .Files}}{{range .Files}}{{.Name}} {{end}}{{else}}File not found{{end}}</title>
	<link rel="stylesheet" href="../main.out.css">
	<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
	<script src="https://cdn.usefathom.com/script.js" data-site="MZJJIBDM" defer></script>
</head>
<body>
	<div class="mx-auto mt-10 px-2 max-w-lg">
		<header>
			<h1 class="text-3xl font-extrabold text-gray-900 tracking-tight"><a href="/">Goupfile</a></h1>
			<p class="text-gray-500 mt-2 mb-7">Upload files and get a short link to them, and a QR code too!</p>
		</header>
		{{if not .Files}}
			<p>This file does not exist.</p>
		{{else}}
			{{range .Files}}
				<div class="my-3">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
				</svg><a href="{{ .URL }}" class="text-blue-500 text-xl align-middle ml-2">{{.Name}} ({{.Size}} bytes)</a>
				</div>
			{{end}}
			<img src="data:image/png;base64,{{ .QR }}" width="128" height="128" class="mt-8">
		{{end}}
		<div class="mt-12">
			<a href="/" class="btn-dark">Upload another</a>
		</div>
		<footer class="mt-10 text-gray-500">an <a href="https://undo.studio" class="border-b-4 border-gray-300 font-bold text-gray-900">undo.studio</a> project</footer>
	</div>
</body>
</html>
